# Project exclude paths
/order-service/order-application/target/
/order-service/order-container/target/
/order-service/order-dataaccess/target/
/order-service/order-domain/order-application-service/target/
/order-service/order-domain/order-domain-core/target/
/order-service/order-messaging/target/
#/infrastructure/docker-compose/volumes/
.iml
/.iml
*.iml
/idea
.idea/
/common/common-application/target/
/common/common-domain/target/
/infrastructure.iml
#/infrastructure/kafka/kafka-config-data/target/
#/infrastructure/kafka/kafka-consumer/target/
#/infrastructure/kafka/kafka-model/target/
#/infrastructure/kafka/kafka-producer/target/
/target
/*/target
/*/*/target
/*/*/*/target
/infrastructure/docker-compose/volumes/kafka
/infrastructure/docker-compose/volumes/zookeeper
/infrastructure/docker-compose/volumes/kafka/
/infrastructure/docker-compose/volumes/zookeeper/
